//- users is the variable name----looping through the collection,so that we don't repeat ourselves.....user is a variable for users
extends layout
block content
    div.row.justify-content-center
            div.col-md-7
                div.card-body.border
                    header.card-header  
                        h4.card-title Save animals, they will save you.
                    
                            a.btn.btn-primary.btn-block(href="/tourist") Tourist   
                            a.btn.btn-primary.btn-block(href="/informer") Informer   
                            a.btn.btn-primary.btn-block(href="/ranger") Ranger   
                            a.btn.btn-primary.btn-block(href="/admin") Admin   